apiVersion: v1
kind: Secret
metadata:
  name: laravel-app-demo-secrets
  namespace: demos
stringData:
  MYSQL_DATABASE: "laravel"
  MYSQL_ROOT_PASSWORD: "root"

  APP_NAME: "Laravel"
  APP_ENV: "local"
  APP_DEBUG: "true"
  APP_URL: "http://localhost"
  DB_CONNECTION: "mysql"
  DB_HOST: "laravel-app-demo-database"
  DB_PORT: "3306"
  DB_DATABASE: "laravel"
  DB_USERNAME: "root"
  DB_PASSWORD: "root"
